<!-- <app-header [title]="title" [headertext]="textHeader"></app-header> -->


<div class="heading">
    <div class="container">
        <div class="box">
            <h2>{{title}}</h2>
            <p>{{ titleText }}</p>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="loop">
            <ul>
                <li *ngFor="let listTo of listsTo">
                    {{ listTo }}
                </li>
            </ul>
        </div>
        <div class="learning">
            <h3>תכניס תווים</h3>
            <input type="text" id="input">
            <button type="button" onkeyup="writethis()">אישור</button>
            <div class="otput"></div>
        </div>
    </div>
</div>