
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Varela+Round&display=swap'); 
// @import '/node_modules/bootstrap/scss/bootstrap.scss';

*{
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	// min-height: 100vh;
	min-height: calc(100vh - 60px);
	padding-top: 60px;
	direction: rtl;
	// line-height: 1;
	font-family: 'Varela Round', sans-serif;
	// font-family: 'Istok Web', sans-serif;
}

ul{
	list-style: none;
}
p{
	margin: 0;
}
a{
    text-decoration: none;
}
.container{
	// width: 1000px;
	padding: 0 20px;
}